<div class="container">
  <div class="row pt-5">
    <div class="auth col-md-8 mx-auto">
      <!--    <app-loading-spinner *ngIf="isLoading"></app-loading-spinner>-->
      <h2 class="mb-5">Sign In</h2>
      <form #authForm="ngForm" (ngSubmit)="onSubmit(authForm)" *ngIf="!isLoading">
        <div class="mb-3 row">
          <label for="email" class="col-sm-2 col-form-label"> E-Mail</label>
          <div class="col-sm-10">
            <input
              autocomplete="username"
              aria-autocomplete="both"
              type="email"
              id="email"
              class="form-control"
              name="email"
              ngModel required email>
            <div class="invalid-feedback">
              Please insert a valid email.
            </div>
            </div>
        </div>
        <div class="mb-3 row">
          <label class="col-sm-2 col-form-label" for="password"> Password</label>
          <div class="col-sm-10">
            <input
              autocomplete="current-password"
              aria-autocomplete="inline"
              type="password"
              id="password"
              class="form-control"
              name="password"
              ngModel required minlength="6">
            </div>
        </div>
        <div class="mt-5">
          <button id="loginBtn" class="btn btn-primary" type="submit" [disabled]="!authForm.valid">
            Login
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
<div *ngIf="isLoading" class="loading-spinner-cnt" style="top: 0;">
  <app-loading-spinner></app-loading-spinner>
</div>
