<div class="container">
  <div class="row pt-5">
    <div class="col-md-10 mx-auto">
      <!--    <app-loading-spinner *ngIf="isLoading"></app-loading-spinner>-->
      <form #authForm="ngForm" (ngSubmit)="onSubmit(authForm)" *ngIf="!isLoading">
        <div class="mb-3 row">
          <label for="email" class="col-sm-2 col-form-label"> E-Mail</label>
          <div class="col-sm-10">
            <input
              autocomplete="username"
              aria-autocomplete="both"
              type="email"
              id="email"
              class="form-control"
              name="email"
              ngModel required email>
            </div>
        </div>
        <div class="mb-3 row">
          <label class="col-sm-2 col-form-label" for="password"> Password</label>
          <div class="col-sm-10">
            <input
              autocomplete="current-password"
              aria-autocomplete="inline"
              type="password"
              id="password"
              class="form-control"
              name="password"
              ngModel required minlength="6">
            </div>
        </div>
        <div>
          <button id="loginBtn" class="btn btn-primary" type="submit" [disabled]="!authForm.valid">
            {{ isLoginMode ? 'Login' : 'Sign Up' }}
          </button>
          |
          <button class="btn btn-secondary" type="button" (click)="onSwitchMode()">
            {{ isLoginMode ? 'Switch to Sign Up' : 'Switch to Login' }}
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
