<div class="offcanvas offcanvas-start" data-bs-scroll="true" tabindex="-1" id="editArtOffcanvas" aria-labelledby="editArtOffcanvasLabel">
  <div *ngIf="isLoading" class="loading-spinner-cnt">
    <app-loading-spinner></app-loading-spinner>
  </div>
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="offcanvasExampleLabel">Edit Art</h5>
    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    <form (ngSubmit)="onSubmit()" [formGroup]="editArtForm">
      <div class="mb-3">
        <label for="title" class="form-label">Title</label>
        <input type="text" class="form-control" id="title" aria-describedby="titleHelp" formControlName="title">
        <div id="titleHelp" class="form-text">Title of the art.</div>
      </div>
      <div class="mb-3">
        <label for="description" class="form-label">Description</label>
        <input type="text" class="form-control" id="description" aria-describedby="descriptionHelp" formControlName="description">
        <div id="descriptionHelp" class="form-text">Max XXX char.</div>
      </div>
      <div class="mb-3">
        <label for="img" class="form-label">Image</label>
        <input type="file" class="form-control" id="img" aria-describedby="imgHelp" formControlName="image" (change)="onFileChange($event)">
        <div id="imgHelp" class="form-text">Max XXX filesize.</div>
      </div>
      <div formGroupName="dimensions">
        <div class="mb-3">
          <label for="width" class="form-label">Width</label>
          <input type="number" class="form-control" placeholder="es: 0.5 or 1.2" min="0.1" max="6" step="0.1" id="width" aria-describedby="widthHelp" formControlName="width">
          <div id="widthHelp" class="form-text">In Meters.</div>
        </div>
        <div class="mb-3">
          <label for="height" class="form-label">Height</label>
          <input type="number" class="form-control" placeholder="es: 0.5 or 1.2" min="0.1" max="6" step="0.1" id="height" aria-describedby="heightHelp" formControlName="height">
          <div id="heightHelp" class="form-text">In Meters.</div>
        </div>
      </div>
      <div class="mb-3">
        <label for="position" class="form-label">Position</label>
        <div id="position" class="mb-3 w-75">
          <div class="accordion accordion-flush" id="accordionFlushExample">
            <div class="accordion-item">
              <h2 class="accordion-header" id="flush-headingOne">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">Room1</button>
              </h2>
              <div id="flush-collapseOne" class="accordion-collapse collapse show" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">
                  <div class="mb-3" style="display: flex;background-color: #434f5f;flex-direction: column;">
                    <div style="margin: auto;" class="btn text-white room-btn">F</div>
                    <div style="display: flex;justify-content: space-between;">
                      <span class="btn text-white room-btn">L1</span>
                      <span class="btn text-white room-btn">R1</span>
                    </div>
                    <div style="display: flex;justify-content: space-between;">
                      <span class="btn text-white room-btn">L2</span>
                      <span class="btn text-white room-btn">R2</span>
                    </div>
                    <div style="display: flex;justify-content: space-between;">
                      <span class="btn text-white room-btn">L3</span>
                      <span class="btn text-white room-btn">R3</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="flush-heading2">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse2" aria-expanded="false" aria-controls="flush-collapse2">Room2</button>
              </h2>
              <div id="flush-collapse2" class="accordion-collapse collapse" aria-labelledby="flush-heading2" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">
                  <div class="mb-3" style="display: flex;background-color: #434f5f;flex-direction: column;">
                    <div style="margin: auto;" class="btn text-white room-btn">F</div>
                    <div style="display: flex;justify-content: space-between;">
                      <span class="btn text-white room-btn">L1</span>
                      <span class="btn text-white room-btn">R1</span>
                    </div>
                    <div style="display: flex;justify-content: space-between;">
                      <span class="btn text-white room-btn">L2</span>
                      <span class="btn text-white room-btn">R2</span>
                    </div>
                    <div style="display: flex;justify-content: space-between;">
                      <span class="btn text-white room-btn">L3</span>
                      <span class="btn text-white room-btn">R3</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
      <div class="mb-3">
        <label for="author" class="form-label">Author</label>
        <input type="text" class="form-control" id="author" aria-describedby="authorHelp" formControlName="author">
        <div id="authorHelp" class="form-text">Name of the author.</div>
      </div>

      <div *ngIf="responseMessage" [class]="responseMessage.isError ? 'alert alert-danger' : 'alert alert-success'" role="alert">{{responseMessage.message}}</div>
      <button [disabled]="!editArtForm.valid" class="btn btn-primary" type="submit">Save Changes</button>

    </form>
  </div>
</div>


