<div class="offcanvas offcanvas-start" data-bs-scroll="true" tabindex="-1" id="editArtOffcanvas" aria-labelledby="editArtOffcanvasLabel">
  <div *ngIf="isLoading" class="loading-spinner-cnt">
    <app-loading-spinner></app-loading-spinner>
  </div>
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="offcanvasExampleLabel">Edit Art</h5>
    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    <form (ngSubmit)="onSubmit()" [formGroup]="editArtForm">
      <div class="mb-3">
        <label for="title" class="form-label">Title</label>
        <input type="text" class="form-control" id="title" aria-describedby="titleHelp" formControlName="title">
        <div id="titleHelp" class="form-text">Title of the art.</div>
      </div>
      <div class="mb-3">
        <label for="description" class="form-label">Description</label>
        <input type="text" class="form-control" id="description" aria-describedby="descriptionHelp" formControlName="description">
        <div id="descriptionHelp" class="form-text">Max XXX char.</div>
      </div>
      <div class="mb-3">
        <label for="img" class="form-label">Image</label>
        <input type="file" class="form-control" id="img" aria-describedby="imgHelp" formControlName="image" (change)="onFileChange($event)">
        <div id="imgHelp" class="form-text">Max XXX filesize.</div>
      </div>
      <div formGroupName="dimensions">
        <div class="mb-3">
          <label for="width" class="form-label">Width</label>
          <input type="number" class="form-control" placeholder="es: 0.5 or 1.2" min="0.1" max="6" step="0.1" id="width" aria-describedby="widthHelp" formControlName="width">
          <div id="widthHelp" class="form-text">In Meters.</div>
        </div>
        <div class="mb-3">
          <label for="height" class="form-label">Height</label>
          <input type="number" class="form-control" placeholder="es: 0.5 or 1.2" min="0.1" max="6" step="0.1" id="height" aria-describedby="heightHelp" formControlName="height">
          <div id="heightHelp" class="form-text">In Meters.</div>
        </div>
      </div>
      <div class="mb-3">
        <label for="position" class="form-label">Position</label>
        <select id="position" class="form-select" aria-label=".form-select-sm example" formControlName="position" aria-describedby="positionHelp">
          <option selected>Select the position</option>
          <optgroup *ngFor="let position_name of position_names; let i = index" label="{{position_name}}">
            <ng-container *ngFor="let position of positions; let j = index">
              <option
                *ngIf="position.name.indexOf(position_name) > -1"
                value="{{position.id}}"
                [style]="position.occupied ? 'color: #aa1717;font-weight: bolder;background-color: #d5b9be;' : 'background-color: rgb(189 213 185);color: rgb(5 137 33);font-weight: bolder;'"
              >{{position.occupied ? position.name + ' (occupied)' : position.name}}</option>
            </ng-container>
          </optgroup>
        </select>
        <div id="positionHelp" class="form-text">Art is replaced if occupied</div>
      </div>
      <div class="mb-3">
        <label for="author" class="form-label">Author</label>
        <input type="text" class="form-control" id="author" aria-describedby="authorHelp" formControlName="author">
        <div id="authorHelp" class="form-text">Name of the author.</div>
      </div>

      <div *ngIf="responseMessage" [class]="responseMessage.isError ? 'alert alert-danger' : 'alert alert-success'" role="alert">{{responseMessage.message}}</div>
      <button [disabled]="!editArtForm.valid" class="btn btn-primary" type="submit">Save Changes</button>
      <button class="btn btn-primary mx-2" type="button" (click)="onResetValues()">Reset To Original Values</button>

    </form>
  </div>
</div>


