<div class="offcanvas offcanvas-start" data-bs-scroll="true" tabindex="-1" id="editArtOffcanvas" aria-labelledby="editArtOffcanvasLabel">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="offcanvasExampleLabel">Edit Art</h5>
    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    <form (ngSubmit)="onSubmit()" [formGroup]="editArtForm">
      <div class="mb-3">
        <label for="title" class="form-label">Title</label>
        <input type="text" class="form-control" id="title" aria-describedby="titleHelp" formControlName="title">
        <div id="titleHelp" class="form-text">Title of the art.</div>
      </div>
      <div class="mb-3">
        <label for="description" class="form-label">Description</label>
        <input type="text" class="form-control" id="description" aria-describedby="descriptionHelp" formControlName="description">
        <div id="descriptionHelp" class="form-text">Max XXX char.</div>
      </div>
      <div class="mb-3">
        <label for="img" class="form-label">Image</label>
        <input type="file" class="form-control" id="img" aria-describedby="imgHelp" formControlName="image" (change)="onFileChange($event)">
        <div id="imgHelp" class="form-text">Max XXX filesize.</div>
      </div>
      <div formGroupName="dimensions">
        <div class="mb-3">
          <label for="width" class="form-label">Width</label>
          <input type="number" class="form-control" placeholder="es: 0.5 or 1.2" min="0.1" max="6" step="0.1" id="width" aria-describedby="widthHelp" formControlName="width">
          <div id="widthHelp" class="form-text">In Meters.</div>
        </div>
        <div class="mb-3">
          <label for="height" class="form-label">Height</label>
          <input type="number" class="form-control" placeholder="es: 0.5 or 1.2" min="0.1" max="6" step="0.1" id="height" aria-describedby="heightHelp" formControlName="height">
          <div id="heightHelp" class="form-text">In Meters.</div>
        </div>
      </div>
      <div class="mb-3">
        <label for="author" class="form-label">Author</label>
        <input type="text" class="form-control" id="author" aria-describedby="authorHelp" formControlName="author">
        <div id="authorHelp" class="form-text">Name of the author.</div>
      </div>

      <button [disabled]="!editArtForm.valid" class="btn btn-primary" type="submit">Save Changes</button>

    </form>
  </div>
</div>
