<a-scene stats debug data-manager>
  <a-assets>
    <canvas id="myCanvas"></canvas>
    <a-asset-item id="museo-obj" src="assets/objects/museo/museo.obj"></a-asset-item>
    <a-asset-item id="museo-mtl" src="assets/objects/museo/museo.mtl"></a-asset-item>
    <a-asset-item id="hercules-obj" src="assets/objects/statue/hercules.obj"></a-asset-item>
    <a-asset-item id="pedestal-obj" src="assets/objects/pedestal/pedestal.obj"></a-asset-item>
    <a-asset-item id="pedestal-mtl" src="assets/objects/pedestal/pedestal.mtl"></a-asset-item>
    <a-asset-item id="hercules-mtl" src="assets/objects/statue/hercules.mtl"></a-asset-item>
    <img crossorigin="anonymous" id="dark_wood" src="assets/materials/dark_wood2.jpg">
    <img crossorigin="anonymous" id="floor" src="assets/materials/floor.jpg">
    <img crossorigin="anonymous" id="cloth" src="assets/materials/cloth.jpg">
    <img crossorigin="anonymous" id="wall1" src="assets/materials/wall3.jpg">
    <img crossorigin="anonymous" id="wall2" src="assets/materials/wall4.jpg">
    <img crossorigin="anonymous" id="painting" src="assets/materials/painting.jpg">
    <img crossorigin="anonymous" id="groundTexture" src="https://cdn.aframe.io/a-painter/images/floor.jpg">

    <a-mixin id="marker" geometry="primitive: plane; width: 0.02; height: 0.02" material="color: red"></a-mixin>
  </a-assets>

<!--  <a-entity position="-2.410 0 0.035" id="rig" movement-controls="controls: checkpoint" checkpoint-controls="mode: animate">
    <a-entity id="camera" camera position="0 1.6 0" look-controls="pointerLockEnabled: true">
      <a-entity
        scale="0.06 0.06 0.06"
        raycaster="objects: .clickable;far:10;"
        cursor="fuse:true;fuseTimeout:1200"
        geometry="primitive:ring;"
        material="color:#ff0000;"
        position="0 0 -1"
        animation__fusing="property:scale;
            from: 0.06 0.06 0.06;
            dur:1200;
            to : 0.01 0.01 0.01;
            startEvents:fusing;"
        animation__pegi="property:scale;
          to :0.06 0.06 0.06;
          startEvents:mouseleave;"
      ></a-entity>
    </a-entity>
  </a-entity>-->

  <!-- Player -->
   <a-entity id="rig" movement-controls="constrainToNavMesh: true" position="1 0 2">
    <a-entity camera position="0 1.6 0" look-controls="pointerLockEnabled: true">
      <a-entity
        scale="0.06 0.06 0.06"
        raycaster="objects: .clickable;far:2;"
        cursor="fuse:true;fuseTimeout:1200"
        geometry="primitive:ring;"
        material="color:#ff0000;"
        position="0 0 -1"
        animation__fusing="property:scale;
          from: 0.06 0.06 0.06;
          dur:1200;
          to : 0.01 0.01 0.01;
          startEvents:fusing;
        "
        animation__pegi="property:scale;
        to :0.06 0.06 0.06;
        startEvents:mouseleave;
        "
      ></a-entity>
    </a-entity>
  </a-entity>

  <!-- Checkpoints -->
  <a-entity position="-4.46079 0.61078 -0.05092">
    <a-cylinder checkpoint="" class="clickable" radius="0.5" height="0.1" position="-6.02791 -0.323 -4.66895" color="#39BB82" material="" geometry=""></a-cylinder>
    <a-cylinder checkpoint="" class="clickable" radius="0.5" height="0.1" position="-1.46578 -0.32278 -0.0603" color="#39BB82" material="" geometry=""></a-cylinder>
    <a-cylinder checkpoint="" class="clickable" radius="0.5" height="0.1" position="2.12299 -0.32278 -0.01838" color="#39BB82" material="" geometry=""></a-cylinder>
    <a-cylinder checkpoint="" class="clickable" radius="0.5" height="0.1" position="-9.81946 -0.323 -0.19846" color="#39BB82" material="" geometry=""></a-cylinder>
  </a-entity>

  <a-box material="src: #cloth; color: #211b12; metalness: 1.000" position="-18.266 1.715 0.021" rotation="0 180 0"
         depth="1.570" height="1.990" width="0.1">
    <a-image id="painting" height="1.49" position="-0.056 0 0" rotation="0 90 0" src="#painting"></a-image>
    <a-entity class="panel-btn clickable" info-panel="0" position="0.00723 -0.11196 0.9908" geometry="depth: 0.09; height: 0.07; width: 0.14" rotation="0 -90 0"></a-entity>
  </a-box>

  <a-entity log id="museo" position="-18.450 0.087 9.046" rotation="0 0 0"
            obj-model="obj: #museo-obj; mtl: #museo-mtl" scale="1 1 1"></a-entity>

  <!-- Ambient Lights -->
  <a-entity light="type: ambient; color: #BBB; intensity: 0.42"></a-entity>
  <a-entity light="intensity: 0.5" position="-0.5 1 1"></a-entity>

  <!-- Floor -->
  <a-plane rotation="-90 0 0" width="30" height="30" material="src: #floor; repeat: 20 15"></a-plane>

</a-scene>
