.bg-primary{background-color:#2f3136!important}.bg-secondary{background-color:#aa1717!important}.btn-primary{color:#fff;background-color:#2f3137;border-color:#fff}.btn-primary:hover{color:#fff!important;background-color:#2f3137c4!important;border-color:#ffffffc7!important;}.masthead{padding-top:calc(6rem + 74px);padding-bottom:6rem}.masthead .masthead-heading{font-size:2.75rem;line-height:2.75rem}.masthead .masthead-subheading{font-size:1.25rem}.masthead .masthead-avatar{width:15rem}@media (min-width:992px){.masthead{padding-top:calc(6rem + 104px);padding-bottom:6rem}.masthead .masthead-heading{font-size:4rem;line-height:3.5rem}.masthead .masthead-subheading{font-size:1.5rem}}.divider-custom{margin:1.25rem 0 1.5rem;width:100%;display:flex;justify-content:center;align-items:center}.divider-custom .divider-custom-line{width:100%;max-width:7rem;height:.25rem;background-color:#2c3e50;border-radius:1rem;border-color:#2c3e50!important}.divider-custom .divider-custom-line:first-child{margin-right:1rem}.divider-custom .divider-custom-line:last-child{margin-left:1rem}.divider-custom .divider-custom-icon{color:#2c3e50!important;font-size:2rem}.divider-custom.divider-light .divider-custom-line{background-color:#fff}.divider-custom.divider-light .divider-custom-icon{color:#fff!important}body{margin:0;font-family:Lato,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";font-size:1rem;font-weight:400;line-height:1.5;color:#212529;text-align:left;background-color:#37393f}a{cursor:pointer}.h1,.h2,.h3,.h4,.h5,.h6,h1,h2,h3,h4,h5,h6{margin-bottom:.5rem;font-family:Montserrat,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";font-weight:700;line-height:1.2}.h1,h1{font-size:2.5rem}.h2,h2{font-size:2rem}.h3,h3{font-size:1.75rem}.h4,h4{font-size:1.5rem}.h5,h5{font-size:1.25rem}.h6,h6{font-size:1rem}.lead{font-size:1.25rem;font-weight:300}#mainNav{padding-top:1rem;padding-bottom:1rem;font-family:Montserrat,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";font-weight:700}#mainNav .navbar-brand{color:#fff}#mainNav .navbar-nav{margin-top:1rem}#mainNav .navbar-nav li.nav-item a.nav-link{color:#fff}#mainNav .navbar-nav li.nav-item a.nav-link:hover{color:#ffb342}#mainNav .navbar-nav li.nav-item a.nav-link:active,#mainNav .navbar-nav li.nav-item a.nav-link:focus{color:#fff}#mainNav .navbar-nav li.nav-item a.nav-link.active{color:#1abc9c}#mainNav .navbar-toggler{font-size:80%;padding:.8rem}@media (min-width:992px){#mainNav{padding-top:1.5rem;padding-bottom:1.5rem;transition:padding-top .3s,padding-bottom .3s}#mainNav .navbar-brand{font-size:1.75em;transition:font-size .3s}#mainNav .navbar-nav{margin-top:0}#mainNav .navbar-nav>li.nav-item>a.nav-link.active{color:#fff;background:#1abc9c}#mainNav .navbar-nav>li.nav-item>a.nav-link.active:active,#mainNav .navbar-nav>li.nav-item>a.nav-link.active:focus,#mainNav .navbar-nav>li.nav-item>a.nav-link.active:hover{color:#fff;background:#1abc9c}#mainNav.navbar-shrink{padding-top:.5rem;padding-bottom:.5rem}#mainNav.navbar-shrink .navbar-brand{font-size:1.5em}}.btn-xl{padding:1rem 1.75rem;font-size:1.25rem}
.modal-content {
  background-color: #0d1317;
}

.modal-title {
  color: antiquewhite;
}

.modal-body {
  color: ghostwhite;
}

.close-modal{
  background-color: #550d0d;
  border-color: white;
}

.close-modal:hover {
  background-color: #681616;
  border-color: #ffffffb8;
}

#saveChanges {
  background-color: #202c38;
  border-color: #fff;
}

#saveChanges:hover {
  background-color: #2a3949;
  border-color: #ffffffb8;
}

.offcanvas {
  color: antiquewhite;
  background-color: #1e2833;
}

.btn-close {
  background-color: whitesmoke;
}

.btn-primary.disabled, .btn-primary:disabled {
  color: #fff !important;
  background-color: #2f3137 !important;;
  border-color: #fff !important;;
}
.btn-check:focus+.btn-primary, .btn-primary:focus {
  color: #fff;
  background-color: #131f2c;
  border-color: #bbc0c7;
  box-shadow: 0 0 0 0.25rem rgb(167 177 190 / 50%);
}
