<nav class="navbar navbar-expand-lg bg-secondary text-uppercase" id="mainNav">
  <div class="container">
    <a class="navbar-brand js-scroll-trigger" routerLinkActive="active" routerLink="/">Enriched Museum</a>
    <button class="navbar-toggler navbar-toggler-right text-uppercase font-weight-bold bg-red text-white rounded"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarResponsive"
            aria-controls="navbarResponsive"
            aria-expanded="false"
            aria-label="Toggle navigation">
      Menu
      <svg class="svg-inline--fa fa-bars fa-w-14" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="bars" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" data-fa-i2svg=""><path fill="currentColor" d="M16 132h416c8.837 0 16-7.163 16-16V76c0-8.837-7.163-16-16-16H16C7.163 60 0 67.163 0 76v40c0 8.837 7.163 16 16 16zm0 160h416c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16zm0 160h416c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16z"></path></svg><!-- <i class="fas fa-bars"></i> Font Awesome fontawesome.com -->
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav me-auto mb-2 mb-md-0">
        <li class="nav-item mx-0 mx-lg-1" routerLinkActive="active"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" routerLink="/">Home</a></li>
        <li class="nav-item mx-0 mx-lg-1" routerLinkActive="active"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger">Team</a></li>
        <li class="nav-item mx-0 mx-lg-1" routerLinkActive="active"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" routerLink="/gallery">Gallery</a></li>
      </ul>
      <ul class="navbar-nav ml-auto">
        <li *ngIf="!isAuthenticated;else logout" class="nav-item mx-0 mx-lg-1" routerLinkActive="active"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" routerLink="/auth">Login</a></li>
        <ng-template #logout><li class="nav-item mx-0 mx-lg-1" routerLinkActive="active"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" (click)="onLogout()">Logout</a></li></ng-template>
      </ul>
    </div>
  </div>
</nav>
