<div class="album py-5" style="background-color: #2c3d50 !important;margin-bottom: 0px !important;">
  <h1 class="text-center" style="color: floralwhite;">GALLERY</h1>
</div>

<div *ngIf="!isLoading && !error; else empty" class="album pt-1 pb-5 bg-light" style="background-color: #1a252f !important;">
  <div class="container">
    <div class="mt-2 row row-cols-1 row-cols-sm-2 row-cols-md-2 row-cols-xl-3 g-3">
        <div class="col" *ngFor="let art of arts; let i = index">
          <div class="card shadow-sm">
            <img [src]="art.imgSrc" alt="" style="object-fit: cover; height: 310px" class="img-fluid">
            <div class="card-body">
              <p class="card-text"><strong>Title:</strong> {{ art.title }}</p>
              <p class="card-text text-truncate"><strong>Description:</strong> {{ art.description }}</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" data-bs-toggle="modal" data-bs-target="#viewArtModal" class="btn btn-sm btn-outline-secondary">View</button>
                  <button type="button" data-bs-toggle="offcanvas" data-bs-target="#editArtOffcanvas" aria-controls="editArtOffcanvas" class="btn btn-sm btn-outline-secondary">Edit</button>
                </div>
                <small class="text-muted">{{i+1}}</small>
              </div>
            </div>
          </div>
        </div>
    </div>
  </div>
</div>

<!-- Gallery Empty -->
<ng-template #empty>
  <div class="album py-5" style="background-color: #1a252f !important;">
    <div class="text-center row g-3">
      <h5 style="color: antiquewhite">There are no arts yet. Add one</h5>
    </div>
  </div>
</ng-template>

<!-- Modal -->
<div class="modal fade" id="viewArtModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">View Art</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Placeholder text for this demonstration of a vertically centered modal dialog.
      </div>
      <div class="modal-footer">
        <button id="closeModal" type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button id="saveChanges" type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>

<app-art-edit></app-art-edit>
<app-add-art></app-add-art>

<span class="float" data-bs-toggle="tooltip" data-bs-placement="top" title="Add Art">
  <button class="btn float d-flex p-0" data-bs-toggle="offcanvas" data-bs-target="#addArtOffcanvas" aria-controls="addArtOffcanvas">
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus" viewBox="0 0 16 16">
      <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
    </svg>
  </button>
</span>
