.card {
  background-color: #2c3d50;
  color: white;
}

.card button {
  color: #fdfdfd;
  border-color: #377099;
  background-color: #283748;
}

.card button:hover {
  color: #fff;
  background-color: #aa1617;
  border-color: #fdfdfd;
}

::selection {
  background-color: #aa1717;
}

.card-text strong {
  color: #b69898;
}

.float {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 40px;
  right: 40px;
  background-color: #aa1617;
  color: #FFF;
  border-radius: 50px;
  text-align: center;
  box-shadow: 2px 2px 3px #1a252f;
  opacity: 1;
  transition: 0.4s;
}

.float:hover {
  background-color: #aa1617;
  opacity: 0.7;
}

.float svg{
  width: inherit;
  height: auto;
  pointer-events: none;
}

.modal-body strong {
  color: #b69898;
}

.modal-body p {
  color: #f5f5f5;
}
